
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Blender 2.5 Basic tutorial, The Mug
Type=Link
URL=http://www.youtube.com/watch?v=kq6UAeoej5E 
Icon=gnome-globe
Name[en_GB]=Blender 2.5 Basic tutorial, The Mug
