
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Compiz Fusion Tutorial
Type=Link
URL=http://www.youtube.com/watch?v=SJaTA25tpMg
Icon=gnome-globe
Name[en_GB]=Compiz Fusion Tutorial
