
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Compiz Cube Tutorial
Type=Link
URL=http://www.youtube.com/user/NixiePixel#p/u/13/LGY9cwSjZsU
Icon=gnome-globe
Name[en_GB]=Compiz Cube Tutorial
