
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Filelight - visualize your disk usage
Type=Link
URL=http://www.youtube.com/watch?v=pnm_mVi-o5E
Icon=gnome-globe
Name[en_GB]=Filelight - visualize your disk usage
