
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Go Open Source or Go Home
Type=Link
URL=http://www.youtube.com/user/NixiePixel#p/u/14/27AGe1b0mnI
Icon=gnome-globe
Name[en_GB]=Go Open Source or Go Home
