
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Inkscape Tutorial
Type=Link
URL=http://linuxgrrl.com/learn/Introduction_To_Inkscape
Icon=gnome-globe
Name[en_GB]=Inkscape Tutorial
