
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=The Power of the Linux Find Command
Type=Link
URL=http://www.youtube.com/user/NixiePixel#p/u/12/x_R_JSiupzo
Icon=gnome-globe
Name[en_GB]=The Power of the Linux Find Command
