
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Picard MusicBrainz - Auto ID3 MP3 Tagging
Type=Link
URL=http://www.youtube.com/watch?v=R07lVQO2fJQ
Icon=gnome-globe
Name[en_GB]=Picard MusicBrainz - Auto ID3 MP3 Tagging
