
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PlayOnLinux - Starcraft 2 on Linux
Type=Link
URL=http://www.youtube.com/watch?v=ZBq8HLfsKTo
Icon=gnome-globe
Name[en_GB]=PlayOnLinux - Starcraft 2 on Linux
