
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=The Origins of Linux - Linus Torvalds
Type=Link
URL=http://www.youtube.com/watch?v=WVTWCPoUt8w
Icon=gnome-globe
Name[en_GB]=The Origins of Linux - Linus Torvalds
